@import "config";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  // 1 rem is equal font of the root html is, which by defaul is 16px
  // And you can reset it by adding thing like before on the top of body{...}
  // html {font-size: 10px}
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}
